.inputcss {
	margin: 0px 10px 10px 10px;
	border-color: black;
	background-color: black;
	height: 48px;
	border-radius: 6px;
}
.textboxcls {
	float: left;
	margin-top: 24px;
}
.buttoncss {
    background:  url("../assets/addnote.png") no-repeat;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    width: 96px;
    height: 96px;
	margin: 0px 0px 10px 10px;
}
.textcss {
	color: white;
	font-weight: bold;
}
.deleteButton {
	float: right;
	background:  url("../assets/delete.png") no-repeat;
	width: 24px;
	height: 24px;
}
.warningIcon {
	float: right;
	float: left;
	background:  url("../assets/warning.png") no-repeat;
	height: 48px;
	width: 48px;
}
#mainDiv {
	height: 400px;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}
#warningDiv {
	height: 50px;
	margin: 0px 10px 0px 10px;
	border-radius: 5px;
	font-size: larger;
	font-style: italic;
	font-weight: bold;
	color: black;
	vertical-align: middle;
}
.warningDivText {
	height: 48px;
	vertical-align: middle;
	padding: 10px 0px 0px 0px;
}
.notesDiv {
	border: 2px solid black;
	padding: 10px;
	margin: 10px 10px 10px 20px;
	border-radius: 5px;
	height: 40%;
	width: 20%;
	position: relative;
	float: left;
	color: black;
	background-color: grey;
}
.notesDiv .notesText{
	font-size: 60px;
}
.notesDiv .notesCount{
	font-size: 20px;
	vertical-align: bottom;
}